# Exclude environment variables
.env

# Exclude configuration files
config.json

# Exclude log files
*.log

# Exclude Python cache files
__pycache__/
*.pyc
*.pyo

# Exclude virtual environments
venv/

# Exclude old database backups
database_old/

# Exclude database tools
database/database_tools.ipynb